.section-proceso-inscripcion{
    width: auto;
    max-width: min(1299px,100%);
    background-image: 
    url('../img/convenios/bg-admisiones.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    height: auto;
    min-height: 534px;
    border-radius: 0px 0px 15px 15px;
}

.proceso-inscripcion-left{
    width: auto;
    max-width: min(100%,587px);
}

.proceso-inscripcion-titulo{
    width: auto;
    max-width: 518px;
    font-size: var(--tamaño-fuente-xxl-grande-2);
    font-family: var(--fuente-parrafo-2);
    font-weight: bold;
    color: var(--color-azul-medio-oscuro);
}

.proceso-inscripcion-descripcion{
    font-size: var(--tamaño-fuente-medio-1);
    font-family: var(--fuente-titulo);
    font-weight: normal;
    color: var(--color-azul-dark);
}

.proceso-inscripcion-detalles{
    width: auto;
    max-width: 391px;
}

.proceso-inscripcion-pasos-titulo{
    width: auto;
    max-width: 407px;
    font-size: var(--tamaño-fuente-muy-grande);
    font-family: var(--fuente-titulo);
    font-weight: 600;
    color: var(--color-azul-oscuro);
}

.box-paso-incripcion{
    background-color: var(--color-azul-azul-claro-8);
    border-radius: 12px;
    width: 576px;
    max-width: min(100%,576px);
    height: 61px;
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-muy-grande);
    font-weight: bolder;
    color: var(--color-azul-medio-oscuro-variante);
     transition: all 0.5s ease-out; /* transición */
}

.box-paso-inscripcion-seleccionado{
    width: 576px;
    max-width: min(100%,576px);
    height: auto;
    /* min-height: 137px; */
    border-radius: 12px;
    background-color: var(--color-blanco);
}

.box-paso-seleccionado-header{
    background-color: var(--color-azul-medio-oscuro-variante);
    font-size: var(--tamaño-fuente-muy-grande);
    font-family: var(--fuente-parrafo-2);
    font-weight: bolder;
    color: var(--color-blanco);
}

.box-paso-seleccionado-body{
    width: 100%;
    max-width: 407px;
    height: auto;
    min-height: 85px;
    font-size: var(--tamaño-fuente-grande);
    font-family: var(--fuente-titulo);
    font-weight: 300;
    color: var(--color-azul-oscuro);
    overflow-wrap: break-word;
}

.section-requisitos-admision{
    width: auto;
    max-width: 1299px;
}

.requisitos-admision-contenedor{
    min-height: 378px;
    height: auto;
    box-shadow: 0px 3px 15px #0017FF1F;
    border-radius: 0px 0px 24px 24px;
    border-top: 4px solid var(--color-azul-oscuro-texto-titulo);
}

.admision-programas-contenedor{
    height: 49px;
    scroll-behavior: smooth;
}

.requisitos-admision-lista{
    max-width: 530px;
    width: auto;
    min-height: 334px;
    height: auto;
}

.requisitos-admision-item{
    display: inline-block;
    min-width: 8px;
    min-height: 8px;
    height: auto;
    width: auto;
    background-color: var(--color-azul-medio-oscuro);
}

.admision-programa-academico{
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-muy-grande);
    font-weight: 600;
    color: var(--color-azul-oscuro-texto-titulo);
    background-color: var(--color-blanco);
    height: 42px;
}

.admision-programa-academico-seleccionado{
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-muy-grande);
    font-weight: bolder;
    color: var(--color-blanco);
    background-color: var(--color-azul-oscuro-texto-titulo);
    height: 100%;
    border-radius: 6px 6px 0px 0px;
}

.contenedor-requisitos-admision-imagen{
    background-image: 
    url('../img/admisiones/logo-iexe.png');
    background-position:right;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.contenedor-requisitos-admision-fondo{
    background-image: 
    url('../img/admisiones/fondo-requisitos-admision.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.section-convalidacion-internacional{
    background-color: var(--color-azul-azul-claro-7);
    box-shadow: 0px 3px 15px #0017FF1F;
    border-radius: 24px;
    max-width: 1299px;
    width: auto;
    min-height: 351px;
    height: auto;
}

.convalidacion-internacional-titulo{
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-titulos-2);
    font-weight: bold;
    color: var(--color-azul-oscuro-texto-titulo);
}

.convalidacion-internacional-subtitulo{
    font-family: var(--fuente-titulo);
    font-size: var(--tamaño-fuente-medio-2);
    font-weight: normal;
    color: var(--color-azul-dark);
}

.convalidacion-internacionaL-dependencia{
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-muy-grande);
    font-weight: bold;
    color: var(--color-azul-oscuro-texto-titulo);
}

.convalidacion-internacionaL-pais{
    font-family: var(--fuente-titulo);
    font-size: var(--tamaño-fuente-grande);
    font-weight: 400;
    color: var(--color-azul-oscuro-texto-titulo);
}

.scroll-banderas{
    width: 42px;
    height: 42px;
    background: #0018FF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-programas-academicos{
    width: 42px;
    height: 42px;
    background: #0018FF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
  .scroll-programas-academicos {
    height: 100%;
  }

  .box-paso-incripcion{
    font-size: var(--tamaño-fuente-grande);
    line-height: 1.1;
  }

  .box-paso-seleccionado-body{
    font-size: var(--tamaño-fuente-medio-2);
  }
  
  .contenedor-banderas{
    max-height: 280px;
    scroll-snap-align: start;
    scroll-behavior: smooth; /* animación suave */
}
}

.scroll-banderas::after, .scroll-programas-academicos::after{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

.scroll-derecho.scroll-programas-academicos::after, .scroll-derecho.scroll-banderas::after{
    transform: rotate(-45deg);
}

.scroll-izquierdo.scroll-programas-academicos::after, .scroll-izquierdo.scroll-banderas::after{
    transform: rotate(135deg);
}

.admisiones-flecha-azul, admisiones-flecha-blanca-abajo{
    width: 20px;
    height: 20px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admisiones-flecha-azul::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-right: 3px solid #0018FF;
    border-bottom: 3px solid #0018FF;
    transform: rotate(-45deg);
}

.admisiones-flecha-blanca-abajo::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
}

.admisiones-elegir-titulo{
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-xxl-grande-2);
    font-weight: 900;
    color: var(--color-azul-medio-oscuro);
}

.admisiones-parrafo-section {
  font-size: var(--tamaño-fuente-medio-2);
  color:  var(--color-azul-oscuro-texto-2);
  text-align: center;
  font-weight: lighter;
}

.admisiones-elegir-texto{
    font-family: var(--fuente-titulo);
    font-size: var(--tamaño-fuente-grande);
    font-weight: 300;
    color: var(--color-azul-oscuro-texto-2);
}

.conoce-nuestra-oferta-titulo{
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-titulos-2);
    font-weight: bolder;
    color: var(--color-azul-oscuro-texto-titulo);
}

.oferta-academica-box-pares{
    background-color: var(--color-azul-azul-claro-7);
}

.oferta-academica-box-nones{
    background-color: var(--color-azul-cyan-variante);
}

.requisitos-admision-titulo{
    font-family: var(--fuente-parrafo-2);
    font-size: var(--tamaño-fuente-titulos-2);
    font-weight: bold;
    color: var(--color-azul-oscuro-texto-titulo);
}

.requisitos-admision-subtitulo{
    font-family: var(--fuente-titulo);
    font-size: var(--tamaño-fuente-muy-grande);
    font-weight: normal;
    color: var(--color-azul-dark);
}

.banner-oferta-admisiones{
    background-color: var(--color-azul-dark) !important;
}

/* Base flechas */
    .arrow-sticky-left, .arrow-sticky-right{
        position: sticky;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        cursor: pointer;
        user-select: none;
        padding-left: 0px;
        padding-right: 0px;
    }

    .arrow-absolute-left, .arrow-absolute-right{
        position: absolute;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        cursor: pointer;
        user-select: none;
        padding-left: 0px;
        padding-right: 0px;
    }

    .arrow-absolute-right {
        right: 0;
    }

    .arrow-sticky-right {
        right: 0;
    }

    .arrow-sticky-left {
        left: 0;
    }